@model Booking.ViewModels.RouteInfoViewModel

@{
    ViewBag.Title = "Details";
    TempData["InfoItems"] = ViewBag.InfoItems;
}

<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<br />
<br />
<br />
<br />
<br />
<div>
    <table class="table table-hover">
        <thead class="thead-style">
            <tr>
                <th>Номер поїзда</th>
                <th>Звідки/Куди</th>
                <th>Час відбуття</th>
                <th>Час прибуття</th>
                <th>Тривалість</th>
                <th>Вільні місця</th>
            </tr>
        </thead>
        <tr>
            <td>
                №@Model.TrainName
            </td>
            <td>
                @Model.Description
            </td>
            <td>
                @Model.DepartureTime
            </td>
            <td>
                @Model.ArrivalTime
            </td>
            <td>
                @Model.Duration
            </td>
            <td>
                @foreach (var car in Model.CarriageFreeInfos)
                {

                    @Html.ActionLink(car.Name + ":" + car.FreeSeats, "Details", new { trainId = car.TrainId, carType = car.Name }, new { @class = "btn btn-primary btn-lg btn-block fixedbuttonsize" })<br />
                }
            </td>
            
        </tr>
        <tr>
            <th>Тип вагона - @ViewBag.CarType</th>
        </tr>
        <tr>
            @foreach (var car in Model.CarInfoViewModels.FindAll(x => x.Name.Equals(ViewBag.CarType)))
            {
                <td>

                    @Ajax.ActionLink(String.Format("№{0}",@car.Number), "CompartmentCar", new { carId = car.CarriageId }, new AjaxOptions { UpdateTargetId = "carriageInfo" })
                    Вільні місця: @car.FreeSeats <br />
                   <img src="https://booking.uz.gov.ua/i/img/desktop/wagon.png" />
                </td>
            }
        </tr>
    </table>
    <div id="carriageInfo">
     
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Назад", "Search", null, new { @class = "btn btn-primary btn-lg" })
</p>
