@model Booking.ViewModels.RouteInfoViewModel

@{
    ViewBag.Title = "Details";
    List<Booking.ViewModels.RouteInfoViewModel> a = new List<Booking.ViewModels.RouteInfoViewModel>();
    a.Add(Model);
    TempData["InfoItems"] = a;
}

<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />


<br />
<br />
<br />
<br />
<br />
<div>
    <table class="table table-hover">
        <thead class="thead-style">
            <tr>
                <th>Номер поїзда</th>
                <th>Звідки/Куди</th>
                <th>Час відбуття</th>
                <th>Час прибуття</th>
                <th>Тривалість</th>
                <th>Вільні місця</th>
            </tr>
        </thead>
        <tr>
            <td>
                №@Model.TrainName
            </td>
            <td>
                @Model.Description
            </td>
            <td>
                @Model.DepartureTime
            </td>
            <td>
                @Model.ArrivalTime
            </td>
            <td>
                @Model.Duration
            </td>
            <td>
                @foreach (var car in Model.CarriageFreeInfos)
                {
                    @Html.ActionLink(car.Name + ":" + car.FreeSeats, "Details", new { trainId = car.TrainId, carType = car.Name }, new { @class = "btn btn-primary btn-lg btn-block fixedbuttonsize" })<br />
                }
            </td>
            
        </tr>
        <tr>
            <th>Тип вагона - @ViewBag.CarType</th>
        </tr>
        <tr>

            @foreach (var car in Model.CarInfoViewModels.FindAll(x => x.Name.Equals(ViewBag.CarType)))
            {
                <td>
                    @car.Number <br />
                    Вільні місця: @car.FreeSeats <br />
                    @*@Ajax.ActionLink(@car.Number.ToString(), "", new ArjaxOptions { UpdateTargetId = "results" })*@
                    @*<img src="~/img/carriage.png" style="width:40px; height:50px" />*@
                    <img src="https://booking.uz.gov.ua/i/img/desktop/wagon.png" />

                </td>
            }
        </tr>
    </table>

</div>
<p>
    @Html.ActionLink("Назад", "Search", null, new { @class = "btn btn-primary btn-lg" })
</p>
