@model Booking.ViewModels.InfoViewModel

<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

@{ if (Model.RouteInfo.Count() == 0)
    {
        <p><center><b>Немає потягів за даним маршрутом.</b></center></p>
    }
    else
    {
        <table class="table table-hover">
            <thead class="thead-style">
                <tr>
                    <th>Номер поїзда</th>
                    <th>Звідки/Куди</th>
                    <th>Час відбуття</th>
                    <th>Час прибуття</th>
                    <th>Тривалість</th>
                    <th>Вільні місця</th>
                </tr>
            </thead>

            @foreach (var item in Model.RouteInfo)
            {
             
                <tr>
                    <td>
                        №@item.TrainName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.DepartureTime
                    </td>
                    <td>
                        @item.ArrivalTime
                    </td>
                    <td>
                        @item.Duration
                    </td>
                    <td>
                        @foreach (var car in item.CarriageFreeInfos)
                        {
                            @Html.ActionLink( car.Name+":"+car.FreeSeats, "Details", new { trainId = item.TrainId, routeId = item.RouteId, carType = car.Name}, new { @class = "btn btn-primary btn-lg btn-block fixedbuttonsize" })<br />
                            
                        }
                    </td>

                </tr>
            }

        </table>
    }
}

